.layout {
  display: flex !important;
  height: 100vh !important;
}
.layout-navbar {
  height: 80px !important;
}
.layout-sidebar {
  width: 280px;
  min-width: 220px !important;
  max-width: 260px !important;
  transition: 0.5s !important;
  transition-timing-function: ease !important;
  background: #fff !important;
  color: black !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  overflow-y: auto;
}
@media (max-width: 600px) {
  .layout-sidebar {
    max-width: 48px !important;
    min-width: 48px !important;
  }
}
.outlet {
  height: 100% !important;
  width: 100% !important;
  overflow: auto;
  padding-top: 68px;
}
